@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.n{
    background-color: var(--almond);
}

.n-wrapper{
    display: flex;
    justify-content: flex-end;
}

.n-test{
    text-decoration: none;
    margin: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: black;
}
.n-test:hover {
    color: var(--brown-sugar)
}

:root {
    --brown-sugar: rgb(156, 102, 68);
    --coffee: rgb(127, 85, 57);
    --cafe-au-lait: rgb(176, 137, 104);
    --burlywood: rgb(221, 184, 146);
    --desert-sand: rgb(230, 204, 178);
    --almond: rgb(237, 224, 212);
}